.well.sidebar-nav
  %h3.popular-searches-header Popular Searches
  //show recently cached searches
  %ul.list-group
    - @popular_searches.each do |search|

      = link_to search_path(search.query) do
        %li.list-group-item
          = search.query.titleize
