.table-responsive
  %table.table
    - results.each do |result|
      %tr
        %td
          - unless result.image_url.nil?
            = image_tag result.image_url, class: 'preview-image'
        %td
          = link_to result.remote_url, target: '_blank' do
            = result.description || 'Learn More'
        %td.text-right
          = number_to_currency(result.price)


    - if results.length.zero?
      %tr
        %td
          No results :(