.panel.panel-default
  .panel-body
    = form_for :search, url: searches_path, method: :post, remote: true do |f|
      .input-group
        = f.text_field :query, class: 'form-control', placeholder: 'Enter Search Here! ex: iPhone'
        %span.input-group-btn
          = f.button 'Search', class: 'btn btn-primary submit-btn', data: {disable_with: "<i class='fa fa-refresh fa-spin'>".html_safe}

    #search-results